<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyg.jas.managerport.dao.CourseDao">
    <!--开启本Mapper的二级缓存-->
    <cache></cache>

    <resultMap id="courseMap" type="com.zyg.jas.common.pojo.Course">
        <id property="courseId" column="course_id" />
        <result property="name" column="cs_name"/>
        <result property="period" column="cs_period"/>
        <result property="credit" column="cs_credit"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
    </resultMap>
    <select id="selectAllCourse" resultMap="courseMap">
		select * from course
	</select>

    <select id="selectForName" resultMap="courseMap">
        select course_id,cs_name from course;
    </select>
    <select id="selectCountOfCourse" resultType="Integer">
        select count(*) from course;
    </select>

    <insert id="insertCourse" parameterType="com.zyg.jas.common.pojo.Course">
        insert into  course(course_id, cs_name, cs_period, cs_credit, begin_date, end_date)
        values (#{courseId},#{name},#{period},#{credit},#{beginDate},#{endDate});
    </insert>

    <select id="selectCourseById" resultMap="courseMap" parameterType="String">
        select * from course where course_id = #{id}
    </select>

    <delete id="deleteByCourseId" parameterType="String">
        delete from course where course_id = #{id}
    </delete>

    <delete id="deleteByBatch" parameterType="java.util.List">
        delete from course where course_id  in
        <foreach collection="courseList" item="course" open="(" separator="," close=")">
            #{course.courseId}
        </foreach>
    </delete>

    <update id="updateCourse" parameterType="com.zyg.jas.common.pojo.Course">
        update course set cs_name=#{name},cs_period=#{period},cs_credit=#{credit},begin_date=#{beginDate},
        end_date=#{endDate}  where  course_id=#{courseId};
    </update>

    <select id="selectCourseForSearch" parameterType="com.zyg.jas.common.pojo.Course"  resultMap="courseMap" >
        select * from course where 1=1
        <if test="courseId!=null and courseId!=''">
            and course_id=#{courseId}
        </if>
        <if test="name!=null and name!=''">
            and cs_name=#{name}
        </if>
    </select>




</mapper>