<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyg.jas.managerport.dao.SpecialtyDao">
    <!--开启本Mapper的二级缓存-->
    <cache></cache>

    <resultMap id="specialtyMap" type="com.zyg.jas.common.pojo.Specialty">
        <id property="speId" column="spe_id" />
        <result property="speName" column="spe_name"/>
        <result property="setDate" column="set_date"/>
        <result property="speNum" column="spe_num"/>
    </resultMap>

    <insert id="addSpecialty" parameterType="com.zyg.jas.common.pojo.Specialty">
        insert into specialty(spe_name, set_date, spe_num)
        values (#{speName},#{setDate},#{speNum})
    </insert>

    <update id="updateBySpeNum" parameterType="com.zyg.jas.common.pojo.Specialty">
        update specialty set spe_name=#{speName},set_date=#{setDate}
        where  spe_num = #{speNum};
    </update>

    <delete id="deleteSpecialty" parameterType="String">
        delete from specialty where spe_num  = #{speNum};
    </delete>

    <select id="selectAllSpeCialty" resultMap="specialtyMap">
		select * from specialty;
	</select>
    <select id="selectSpeByName" resultMap="specialtyMap" parameterType="String">
		select spe_id,spe_name from specialty where  spe_name =#{name};
	</select>

    <select id="selectSpeBySpeId" resultMap="specialtyMap" parameterType="Integer">
		select spe_id,spe_name from specialty where  spe_id =#{speId};
	</select>

    <select id="selectSpecialtyBySpeNum" parameterType="String" resultMap="specialtyMap">
        select spe_id, spe_name, set_date, spe_num from specialty where spe_num =#{speNum};
    </select>






</mapper>