<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyg.jas.studentport.dao.CCDao2">
    <!--开启本Mapper的二级缓存-->
    <cache></cache>

    <resultMap id="ccMap" type="com.zyg.jas.common.pojo.CC">
        <id property="id" column="id" />
        <result property="comId" column="com_id"/>
        <result property="courseId" column="cs_name"/>
        <association property="committee" javaType="com.zyg.jas.common.pojo.Committee">
            <id property="comId" column="com_id" />
            <result property="name" column="cmt_name"/>
        </association>
        <association property="course" javaType="com.zyg.jas.common.pojo.Course">
            <id property="courseId" column="course_id" />
            <result property="name" column="cs_name"/>
        </association>
    </resultMap>
    <select id="selectCourseForCmtByCmtIdWith" parameterType="String" resultMap="ccMap">
        select cc.id,cc.com_id,cc.cs_name as co_name,course.cs_name,course.course_id from cc
        inner join course on cc.cs_name = course.cs_name where cc.com_id = #{cmtId};
    </select>


    <insert id="insertToCc" parameterType="com.zyg.jas.common.pojo.CC">
        insert into  CC(com_id, cs_name)
        values (#{comId},#{courseId});
    </insert>

    <select id="selectCourseByComId" resultType="java.lang.String">
		select cs_name from CC where com_id = #{comId};
	</select>

    <delete id="deleteCcByComid" parameterType="String">
        delete from CC where com_id = #{comId};
    </delete>


    


</mapper>