<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyg.jas.studentport.dao.CmtDao2">
    <!--开启本Mapper的二级缓存-->
    <cache></cache>

    <resultMap id="cmtMap" type="com.zyg.jas.common.pojo.Committee">
        <id property="comId" column="com_id" />
        <result property="password" column="cmt_password"/>
        <result property="name" column="cmt_name"/>
        <result property="phone" column="cmt_phone"/>
        <result property="email" column="cmt_email"/>
        <result property="cGrade" column="c_grade"/>
        <result property="cClass" column="c_class"/>
         <!-- association用于一对一（一个学委只能属于一个专业）       -->
        <association property="specialty" javaType="com.zyg.jas.common.pojo.Specialty">
            <result property="speId" column="spe_id"/>
            <result property="speName" column="spe_name"/>
        </association>
        <!--collection用于映射一个集合（一个学委管理多门课程）-->
        <collection property="courses" ofType="com.zyg.jas.common.pojo.Course" >
            <id property="courseId" column="course_id" />
            <result property="name" column="cs_name"/>
            <result property="period" column="cs_period"/>
            <result property="credit" column="cs_credit"/>
            <result property="beginDate" column="begin_date"/>
            <result property="endDate" column="end_date"/>
        </collection>
    </resultMap>

    <resultMap id="studentStatisticsMap" type="com.zyg.jas.common.pojo.Student">
        <id property="sNo" column="s_no" />
        <result property="name" column="s_name" />
        <result property="phone" column="s_phone"/>
        <result property="email" column="s_email" />
        <collection property="scores" ofType="com.zyg.jas.common.pojo.Score" >
            <id property="id" column="id" />
            <result property="hId" column="h_id"/>
            <result property="sNo" column="s_no"/>
            <result property="score" column="score"/>
            <association property="homework" javaType="com.zyg.jas.common.pojo.Homework">
                <id property="hId" column="h_id" />
                <result property="hName" column="h_name"/>
                <result property="publishDate" column="publish_date"/>
                <result property="endDate" column="end_date"/>
            </association>
        </collection>

    </resultMap>
<!--    // 查询已提交作业的学生-->
    <select id="selectStatisticsSubmit" resultMap="studentStatisticsMap">
        SELECT homework.h_id,homework.h_name,homework.publish_date,score.score,score.s_no,student.s_name FROM score
        INNER JOIN homework on score.h_id = homework.h_id and homework.course_id = #{courseId}
        INNER JOIN student ON score.s_no = student.s_no
        INNER JOIN committee ON committee.com_id=#{cmtId};
    </select>
<!--    应该提交的（sno,h_id）减去已提交的（sno,h_id）就是没有提交的（sno,h_id）-->
<!--    // 查询应该提交作业的学生-->
    <select id="selectShouldSubmit" resultMap="studentStatisticsMap">
        SELECT student.s_no,homework.h_id
        FROM student , homework ,(SELECT spe_id,c_grade,c_class FROM committee WHERE com_id=#{cmtId}) as p
        WHERE student.spe_id=p.spe_id and student.s_grade= p.c_grade AND student.s_class = p.c_class AND homework.course_id=#{courseId};
    </select>

    <select id="selectBySnoAndHid" resultMap="studentStatisticsMap">
        select DISTINCT student.s_no,student.s_name,student.s_phone,homework.h_id,homework.h_name,homework.publish_date from student
        inner join homework on homework.h_id = #{hId} and student.s_no =#{sNo};
    </select>

<!--    <select id="selectBySnoAndHid" resultMap="studentStatisticsMap">-->
<!--        select DISTINCT student.s_no,student.s_name,student.s_phone,score.h_id,homework.publish_date from student-->
<!--        inner join  score on student.s_no =#{sNo} and score.h_id = #{hId}-->
<!--        inner join homework on homework.h_id = score.h_id;-->
<!--    </select>-->


    <update id="updatePwdByAuthCode" parameterType="String">
        update committee set cmt_password =#{newPwd} where com_id = #{stuNo};
    </update>

    <update id="updateCmtById" parameterType="com.zyg.jas.common.pojo.Committee">
        update committee set cmt_name=#{name},cmt_phone=#{phone},spe_id=#{specialty.speId},c_grade=#{cGrade},
        c_class=#{cClass}, cmt_email=#{email} ,cmt_password =#{password} where  com_id=#{comId};
    </update>

    <update id="updateCmtPersonal" parameterType="com.zyg.jas.common.pojo.Committee">
        update committee set cmt_name=#{name},cmt_phone=#{phone},
        cmt_email=#{email} ,cmt_password =#{password} where  com_id=#{comId};
    </update>

    <insert id="insertCmt" parameterType="com.zyg.jas.common.pojo.Committee">
        insert into  committee(com_id, cmt_password, cmt_name, cmt_phone, spe_id, c_grade,c_class,cmt_email)
        values (#{comId},#{password},#{name},#{phone},#{specialty.speId},#{cGrade},#{cClass},#{email});
    </insert>

    <select id="selectAllCmt" resultMap="cmtMap">
	   SELECT com1.* , cou1.*,spe1.* from CC c1 LEFT JOIN committee com1 on com1.com_id = c1.com_id
       LEFT JOIN course cou1 ON cou1.cs_name = c1.cs_name INNER JOIN
       specialty spe1 ON spe1.spe_id = com1.spe_id;
	</select>
    <select id="selectCountOfCmt" resultType="Integer">
        select count(*) from committee;
    </select>

    <select id="selectCmtByIdWith" resultMap="cmtMap" parameterType="String">
          SELECT com1.* , cou1.*,spe1.* from CC c1 LEFT JOIN committee com1 on com1.com_id = c1.com_id
        LEFT JOIN course cou1 ON cou1.cs_name = c1.cs_name INNER JOIN specialty spe1 ON spe1.spe_id = com1.spe_id
         where com1.com_id = #{id};
    </select>

    <select id="selectCmtById" resultMap="cmtMap" parameterType="String">
        select * from committee where com_id =#{cmtid};
    </select>

    <select id="selectCmtForSearch" parameterType="com.zyg.jas.common.pojo.Committee"  resultMap="cmtMap" >
        SELECT com1.* , cou1.*,spe1.* from CC c1 LEFT JOIN committee com1 on com1.com_id = c1.com_id
        LEFT JOIN course cou1 ON cou1.cs_name = c1.cs_name INNER JOIN specialty spe1 ON spe1.spe_id = com1.spe_id
        where  1=1
        <if test="specialty != null">
            and com1.spe_id=#{specialty.speId}
        </if>
        <if test="cGrade != null and cGrade != ''">
            and com1.c_grade=#{cGrade}
        </if>
        <if test="cClass != null">
            and com1.c_class=#{cClass}
        </if>
    </select>

    <select id="selectCmtByAccount" parameterType="String" resultMap="cmtMap">
        select com_id,cmt_name,cmt_password from committee where com_id = #{comId}
    </select>

    <delete id="deleteCmtById" parameterType="String" >
        delete from committee where com_id = #{comId}
    </delete>

    <delete id="deleteByBatch" parameterType="java.util.List">
        delete from committee where com_id in
        <foreach collection="committeeList" item="cmt" open="(" separator="," close=")">
            #{cmt.comId}
        </foreach>
    </delete>


    <!--    学生端使用该功能-->

    <select id="searchComidByStu"  resultMap="cmtMap">
        select com_id from committee
        where spe_id = #{speId} and c_grade=#{cGrade} and c_class=#{cClass}
    </select>




</mapper>